body{
	background-color: #EEEEEE;
	margin:0;	
}

.header{
	background-color: #404040;
	display:inline-block;
	width: 100%;
	position: fixed;
	top: 0px;
	text-align: center;
	height: 80px;
}

.content{
	background-color: #20B2AA;
	padding-top:80px;
	/*padding-top: 80px;*/


}
.content .sidebar{
	width: 300px;
	background-color: #778899;
	float: left;
	position:fixed;
	height: 100vh;
	/*right: 0px;
	top: 500px;*/
}
/*.content .sidebar ul li{

}*/
/*.content .sidebar a{
	text-decoration: none;

	
}*/
.content .main-content{
	padding-left: 300px;
	background-color: #20B2AA;
	height: 8000px;


}
/*.content .main-content div{
	height: 400px;
}*/
/*.content .main-content .intro{
	position: relative;
	/*background-color: #EEEEEE;
}*/
/*.content .main-content .intro .inner-intro{
	position: absolute;
	height: 100px;
	bottom: 0px;
	left: 0px;
	background-color: yellow;
}*/

xmp{
    background-color: #eeeeee ;
    border-left:10px solid #808080 ;
    height: auto;
    display: inline-block;
    padding:0px 10px;
    width:100%;
    white-space: pre-wrap;
}
.code{
    width:50%;
    display: inline-block;
    /*padding-left: 10px;*/
}
.preview{
    width:50%;
    display: inline-block;
}
/*.content .main-content #intro{
	height: 400px;
}
.content .main-content #elemen{
	height: 400px;
}

.content .main-content #multimedia{
	height: 400px;
/*}*/

/*.content .main-content #table{
	height: 400px;
}
.content .main-content #form{
	height: 400px;
}
.content .main-content #info{
	height: 400px;
}*/
.footer{
	background-color: #CCCCCC;
	display:inline-block;
	width: 100%;
	text-align: center;
}